/* Import the Alfa Slab One font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 1280px;
  color: #3b3b3b;
  font-size: 24px;
}

p,
h1,
h2,
h3,
h4,
a {
  margin: 0;
  font-weight: 400;
}

a,
a:visited,
a:hover {
  color: teal;
  text-decoration: none;
  border-bottom: 2px solid currentColor;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #f3f3f3;
  padding: 1rem;
  padding-right: 5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nav__examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.nav__examples > * {
  margin-right: 0.5rem;
}

#intro {
  position: relative;
  background-image: url('img/george-floyd-statue.png');
  background-size: auto 30%;
  background-repeat: no-repeat;
  background-position: left center;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro__hed {
  font-family: 'Alfa Slab One';
  font-size: 2em;
  color: #ffffff;
  margin: 0 auto 20px auto; /* Adjust margin to create space below */
}

.intro__dek {
  color: #8a8a8a; /* Color for additional text */
}

.arrow-down {
  position: absolute;
  bottom: 20px; /* Adjust distance from the bottom as needed */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  width: 0;
  height: 0;
  border-left: 20px solid transparent; /* Adjust arrow size as needed */
  border-right: 20px solid transparent; /* Adjust arrow size as needed */
  border-top: 30px solid #fff; /* Adjust arrow size and color as needed */
  cursor: pointer;
}

.return-button {
  position: absolute;
  top: 20px; /* Adjust distance from the top */
  left: 20px; /* Adjust distance from the left */
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 0.5em 1em; /* Adjust padding using relative units */
  font-size: 1em; /* Adjust font size */
  cursor: pointer;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

#intro {
  margin-bottom: 50px;
}

#outro {
  height: 640px;
}

@media (min-width: 840px) {
  .nav__examples {
    margin-top: 0;
    margin-left: 2rem;
  }
}
